<div class="masthead">
  <div class="container">
    <div class="row mx-auto text-center">
      <div class="col-md-12 col-12">
        <h1 class="WhoAmI">Who am I?</h1>
        <br>
      </div>
    </div>
    <hr class="betweenRow">
    <div class="row main-row mx-auto my-auto text-center">
      <div class="col-md-4 col-12 my-auto mr-auto text-center">
        <img src="../../../assets/img/Stan.jpg" alt="Ik" class="profielfoto rounded">
      </div>
      <div class="col-md-8 col-12 my-auto ml-auto text-left">
        <h1 class="hi">Hi!</h1>
        <p class="beschrijving">
          My name is Stan van Zanten and I am a second year computer science student at Avans Hogeschool Breda. I'm
          currently 20 years old and living in Gilze.
          My greatest passions are drinking with my friends, sports, programming and spending time with my wonderfull
          girlfriend. I'm putting a lot of effort in learning how to make better websites, for customers but also for
          my own good.
          You can check out some of my work under the "portfolio" tab in the menu! Have a good day and (hopefully) talk
          to you
          soon!
        </p>
      </div>
    </div>
  </div>
</div>