<app-header></app-header>
<div class="masthead">
  <div class="container">
    <div class="row mx-auto text-center">
      <div class="col-md-12 col-12">
          <h1 class="WhoAmI">Who am I?</h1>
          <br>
      </div>
    </div>
    <div class="row main-row mx-auto my-auto text-center">
      <div class="col-md-4 col-12 my-auto mr-auto text-center">
        <img src="../../../assets/img/Stan.jpg" alt="Ik" class="profielfoto">
      </div>
      <div class="col-md-8 col-12 my-auto ml-auto">
        <p class="beschrijving">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula eleifend lorem, in
          hendrerit augue
          ultrices eu. Proin turpis augue, molestie in augue in, dapibus commodo mi. Nunc congue, massa a pharetra
          fermentum, libero augue aliquet libero, sed tempus justo nisl quis ipsum. Suspendisse hendrerit dui vitae nunc
          faucibus, in placerat ante fermentum. Aenean volutpat sit amet nulla et venenatis. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus sit amet nibh quis metus
          luctus mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

          Nam efficitur, magna eu efficitur maximus, arcu ante sollicitudin ligula, vitae eleifend quam nisi ac justo.
          Morbi laoreet facilisis lorem ut mollis. Integer luctus dapibus augue, a pharetra turpis iaculis in. Donec
          imperdiet lacus nisl, non vulputate enim eleifend vel. Cras finibus nibh at dignissim interdum. Nullam leo
          enim, condimentum eget urna vitae, gravida rutrum massa. Pellentesque velit ante, finibus ac elementum sit
          amet, dapibus ac metus. Donec eros dui, dignissim quis lectus quis, auctor congue ex. Vivamus in sodales arcu,
          id congue urna.</p>
      </div>
    </div>
  </div>
</div>