<app-header></app-header>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center text-row">
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">There are more websites than galaxies</h5>
          <br>
          <h6 class="card-subtitle mb-2 text-muted text-center">Where's yours?</h6>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="vl-1"></div>
    <div class="hl-1"></div>
    <div class="vl-2"></div>
    <div class="hl-2"></div>
    <div class="vl-3"></div>
  </div>
  </div>
</header>

<app-facts></app-facts>