<!-- <div class="masthead">

  <div id="home" class="carousel slide">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active"
        style="background-image: url('../../../assets/img/astro-astronomy-background-956999.jpg')">
        <div class="carousel-caption h-100">
          <div class="row h-100 text-left my-auto">
            <div class="col mx-auto my-auto">
              <h1 class="frontpagetext">"The web is expanding, will you be part of it?"</h1>
              <hr class="frontpageline">
              <div class="findmore text-right">
                <a role="button" class="link-next" href="#home" data-slide="next">Find out more</a>
              </div>

              class="carousel-control-next" href="#home" role="button" data-slide="next"
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('../../../assets/img/trafic.jpeg')">
        <div class="carousel-caption h-100">
          <div class="row h-100 mx-auto">
            <div class="row">
              <div class="col-md-4 mx-auto my-auto">
                <h1 class="factstext">1.5 billion websites running</h1>
                <hr class="secondline">
              </div>
              <div class="col-md-4 mx-auto my-auto">
                <h1 class="factstext">4.1 billion internet users</h1>
                <hr class="secondline">
              </div>
              <div class="col-md-4 mx-auto my-auto">
                <h1 class="factstext">5 billion google searches every day</h1>
                <hr class="secondline">
              </div>
            </div>
            <div class="row mx-auto">
              <div class="col-md-12 mx-auto">
                <h1 class="factstext">So what is going to make you special?</h1>
                <hr class="secondline">
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#home" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      </div>
    </div>
  </div>
</div> -->
<div class="fade-in headerclass">
    <app-header></app-header>
</div>
<div class="masthead">
  <div class="container h-100">
    <div class="row main-row h-100 mx-auto text-center">
      <div class="col-md-12 my-auto">
        <h1 class="fade-in openingtext">The web is expanding</h1>
        <hr class="fade-in frontpageline">
        <p class="fade-in subtext">Will you be part of it?</p>
      </div>
    </div>
  </div>
</div>