<app-header></app-header>
<header class="masthead">
<div class="container h-100">
  <div class="row mx-auto">
          <div class="col-md-12 mx-auto">
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">75%</div>
                </div>
            </div>
  </div>
  <br>
  <br>
  <div class="row">
        <div class="col-md-3 mx-auto">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
              </div>
              <div class="col-md-3 mx-auto">
                    <div class="card">
                            <div class="card-body">
                              <h5 class="card-title text-center">There are more websites than galaxies</h5>
                              <br>
                              <h6 class="card-subtitle mb-2 text-muted text-center">Where's yours?</h6>
                            </div>
                          </div>
              </div>
            <div class="col-md-3 mx-auto">
                <div class="progress pink">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">45%</div>
                </div>
            </div>
  </div>
</div>
</header>