/* You can add global styles to this file, and also import other style files */

html {
    background-color: #333333;
    color: white;
    scroll-behavior: smooth;
}

main {
    text-align: center;
    position: relative;
}